<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bouncy Ball</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="lightbox.min.css">
    <script src="lightbox-plus-jquery.min.js"></script>
</head>
<body>
<h1 >Bouncy Ball</h1>
<div class="line"></div>

<section class="firstSection">
    <div class="left">
        <img src="image/bouncy ball.png" width="190px" height="150px"  alt="">
        <a href="https://github.com/Roman-Octavian/Bounce/blob/main/bin/Bouncing%20Spheres.exe?raw=true" download="image"> Download </a>
    </div>

    <div class="right">
        <p>Description:</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas voluptas soluta nulla aperiam ab, magni fugiat corrupti temporibus officiis est excepturi. Cumque vel nisi maiores neque officiis dolores aut quas.</p>
    </div>
</section>

<section class="secondSection">
    <p style="margin-left: 5px">Developer Content:</p>
    <div>
        <a href="image/bouncyBall.png" data-lightbox="mygallery"> <img src="image/bouncyBall.png" width="100px" height="100px" alt=""> </a>
        <a href="image/win1.png" data-lightbox="mygallery"> <img src="image/win1.png" width="100px" height="100px" alt=""> </a>
        <a href="image/win2.png" data-lightbox="mygallery"> <img src="image/win2.png" width="100px" height="100px" alt=""> </a>
        <a href="image/win3.png" data-lightbox="mygallery"> <img src="image/win3.png" width="100px" height="100px" alt=""> </a>

    </div>
</section>

<div class="line2"></div>
<div class="developerHeader">
        <p>Developed By:</p>
</div>

<section class="developerInfoSection">
    <div class="developerInfo">
        <img src="image/emil1.png" width="160px" height="135px"  style="clip-path: circle()" alt="">
        <li  th:each="feature : ${developer}">
            <span th:text="${developer}"></span>
        </li>
<!--        <p>Emil Høeg Engelbrechtsen</p>-->
<!--        <p>Software Developer</p>-->
<!--        <p>Ap Degree in Computer Science</p>-->
<!--        <p>Copenhagen School of Design & Technology</p>-->
    </div>
    <div class="developerInfo">
        <img src="nayeem11.jpg" width="160px" height="135px"  style="clip-path: circle()" alt="">
        <p>Md Nayeem Hossain</p>
        <p>Software Developer</p>
        <p>Ap Degree in Computer Science</p>
        <p>Copenhagen School of Design & Technology</p>
    </div>
    <div class="developerInfo">
        <img src="Martin.jpg" width="160px" height="135px"  style="clip-path: circle()" alt="">
        <p>Martin Niemann Hansen</p>
        <p>Software Developer</p>
        <p>Ap Degree in Computer Science</p>
        <p>Copenhagen School of Design & Technology</p>
    </div>
    <div class="developerInfo">
        <img src="#" width="160px" height="135px"  style="clip-path: circle()" alt="">
        <p>Kim Keiser</p>
        <p>Software Developer</p>
        <p>Ap Degree in Computer Science</p>
        <p>Copenhagen School of Design & Technology</p>
    </div>

</section>



</body>
</html>